.profile_main_div{
    background-color: white;
}
.profile_details img{
    margin-left: 10px;
}
.pname{
    margin-left: 10px;
    position: relative;
    bottom: 30px;
    display: inline-block;
    color: white;
}
.pname h1{
   font-size: 50px;
}
.pname h3{
    color: grey;
    font-size: 20px;
}
.player_main_div{
    width: auto;
}
.Pers_info{
    background-color: #fff;;
     position: relative;
    bottom: 170px;
     width: 350px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
.Pers_info h3{
    color: black;
    font-size: 30px;
}
table{
    text-align: left;
}
tr{
    margin: 10px;
}
td{
    border: none;
    padding-left: 10px;
}
.player_profile{
    /* width: auto; */
    color: black;
    display: inline-block;
    background-color: white;
    padding: 5px;
}
.player_profile a{
    color: #FF8E00;
}
.player_profile h3 {
    margin: 5px;
}
.player_profile table{
    text-align: center;
}
.player_profile table tr{
    margin: 10px;
    background-color: rgb(186, 213, 236);
}
.player_profile tr td,th{
    border: none;
    padding-left: 15px;
}
.Car_info_div{
    position: relative;
    bottom: 140px;
    width: 610px;
    background-color: white;
    padding: 20px;
    color: black;
}
#Full_Profile{
    margin: 10px;
    background-color: white;
    color: black;
}
#Full_Profile p{
    margin: 5px;
}