*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000B49;
}
.logo{
    margin: 20px;
    width: 15%;
    height: 10%;
    display: inline-block;
}
.menu{
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 20px;
    list-style: none;
}
.menu li{
    display: inline-block;
    margin: 20px;
    color: white;
}

.menu li a{
    background-color: #000B49;
    color: white;
    font-size: 15px;
    border: none;
    padding: 5px;
    border-radius: 4px;
    transition-duration: 0.4s;
    text-decoration: none;
}
.menu li a:hover{
    background-color: white;
    color: black;
}

.menu2{
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 40px;
    margin-top: 10px;
}
.menu2 li{
    display: inline-block;
    margin: 14px;
}
.menu2 li a{
    background-color: #000B49;
    color: white;
    font-size: 15px;
    border: none;
    padding: 5px;
    border-radius: 4px;
    transition-duration: 0.4s;
    text-decoration: none;
}
.menu2 li a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;
}
.home_img{
    background-color: #F0ECE3;
}
.hostel_img{
    margin: 40px;
    width: 90%;
    height: 25em;
}
.about_hostel{
    color: white;
}
.about_hostel h3{
    margin:30px 0 0 70px;
}
.about_hostel ul{
    margin: 20px;
    list-style-type: square;
}
.about_hostel ul li{
    margin-top: 10px;
    margin-left: 90px;
}
.about_hostel p{
    margin-left: 70px;
}
.about_hostel table{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin-left: 150px;
}
.about_hostel table th{
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgb(53, 128, 103);
}
.about_hostel table tr, td{
    padding: 5px;
    border: 1px solid #ddd;
}
.about_hostel table tr:nth-child(even){
    background-color: #887a58;
}
.about_hostel table tr:nth-child(odd){
    background-color: #474339;
}
footer {
    justify-content: center;
    padding: 5px;
    background-color: #35589A;
    color: #fff;
}
.fab,fa-facebook{
    color: black;
}
footer p{
    margin-top: 10px;
    margin-left: 20%;
    width: 50%;
}
footer p a{
    color: black;
}
footer p a:hover{
    color: greenyellow;
}
footer img{
    margin-top: 10px;
    width: 15%;
    height: 10%;
}
.footer_div{
    display: inline-block;
    position: relative;
    left: 10%;
}
.footer_div ul{
    list-style-type: none;
    display: flex;
}
.footer_div ul li{
    margin: 20px 70px 20px 0;
}