
.login a{
    background-color: #4ab348;
    transition-duration: 0s;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 20px;
    margin-left: 80px;
}
.login a:hover{
    background-color: rgb(60, 172, 88);
    color: white;
}
.checkbox{
    width: 12px;
    margin: 4px;
}

.cancel{
    display: inline;
    margin-top: 20px 5p;
}
.cancel a{
    background-color: #ee5a5a;
    color: white;
    padding: 7px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}
.cancel a:hover{
    background-color: #e23737;
}
.f_pswd {
    position: relative;
    left: 20%;
    bottom: 35px;
}