*{
    margin: 0;
    padding: 0;
}
.ranking_div{
    margin:10px;
}
.ranking_div h2{
    color: white;
}
li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
li a{
    text-decoration: none;
}
.role li a:link{
    color: black;
}
#batting{
    color:green;
    text-decoration: underline;
}
.role li a:hover{
    color: green;
    text-decoration: underline;
}
.role,.Crole{
    margin-left: 20px;
}
#test,#odi,#t20{
    border: 1px solid black;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(195, 206, 195);
    color: black;
}
#test{
    border: 1px solid black;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    color: white;
}
/* #test,#odi,#t20:visited{
    border: 1px solid black;
    border-radius: 9px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: green;
    color: white;
} */

