<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- <link rel="stylesheet" href="/static/Contact_Us.css"> -->
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="/static/add_data.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <img
        src="https://wassets.hscicdn.com/static/images/logo.png"
        class="logo"
        alt="logo"
      />
      <ul class="menu">
        <li><a href="/" target="">Home</a></li>
        <li><a href="/Player_details" target="">Player_details</a></li>
        <li><a href="/rankings" target="">Rankings</a></li>
        <li><a href="/contacts" target="">Contact Us</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>PLAYER DETAILS:</h1>
      <form action="" method="POST">
        <h3>PLAYER INFORMATION:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="P_fname"><strong>P_fname:</strong></label>
              <input type="text" id="P_fname" name="P_fname" />
            </li>
            <li>
              <label for="P_lname"><strong>P_lname:</strong></label>
              <input type="text" id="P_lname" name="P_lname" />
            </li>
            <li>
              <label for="Pid"><strong>Pid:</strong></label>
              <input type="number" id="Pid" name="Pid" />
            </li>
            <li>
              <label for="Dob"><strong>Dob:</strong></label>
              <input type="date" id="Dob" name="Dob" />
            </li>
            <li>
              <label for="Bplace"><strong>Birth place:</strong></label>
              <input type="text" id="Bplace" name="Bplace" />
            </li>
            <li>
              <label for="Country"><strong>Country:</strong></label>
              <input type="text" id="Country" name="Country" />
            </li>
            <li>
              <label for="Bat_id"><strong>Bat_id:</strong></label>
              <input type="number" id="Bat_id" name="Bat_id" />
            </li>
            <li>
              <label for="Bowl_id"><strong>Bowl_id:</strong></label>
              <input type="number" id="Bowl_id" name="Bowl_id" />
            </li>
          </ul>
        </div>
        <hr />
        <br /><br />
        <h3>CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="Player_role"><strong>Player role:</strong></label>
              <input type="text" id="Player_role" name="Player_role" />
            </li>
            <li>
              <label for="Total_runs"><strong>Total runs:</strong></label>
              <input type="number" id="Total_runs" name="Total_runs" />
            </li>
            <li>
              <label for="Debut_id"><strong>Debut id:</strong></label>
              <input type="number" id="Debut_id" name="Debut_id" />
            </li>
          </ul>
        </div>
        <hr />
        <br /><br />
        <h3>DEBUT:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="Test_debut"><strong>Test debut:</strong></label>
              <input type="text" id="Test_debut" name="Test_debut" />
            </li>
            <li>
              <label for="Odi_debut"><strong>Odi debut:</strong></label>
              <input type="text" id="Odi_debut" name="Odi_debut" />
            </li>
            <li>
              <label for="T20_debut"><strong>T20 debut:</strong></label>
              <input type="text" id="T20_debut" name="T20_debut" />
            </li>
          </ul>
        </div>
        <hr />
        <br /><br />
        <h3 class="h3">BATTING...</h3>
        <br />
        <h3>TEST CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="T_Matches"><strong>Matches:</strong></label>
              <input type="number" id="T_Matches" name="T_Matches" />
            </li>
            <li>
              <label for="T_Innings"><strong>Innings:</strong></label>
              <input type="number" id="T_Innings" name="T_Innings" />
            </li>
            <li>
              <label for="Test_Runs"><strong>Test Runs:</strong></label>
              <input type="number" id="Test_Runs" name="Test_Runs" />
            </li>
            <li>
              <label for="T_Hundreds"><strong>100's:</strong></label>
              <input type="number" id="T_Hundreds" name="T_Hundreds" />
            </li>
            <li>
              <label for="T_Double_hundreds"><strong>200's:</strong></label>
              <input
                type="number"
                id="T_Double_hundreds"
                name="T_Double_hundreds"
              />
            </li>
            <li>
              <label for="T_Fifties"><strong>50's:</strong></label>
              <input type="number" id="T_Fifties" name="T_Fifties" />
            </li>
            <li>
              <label for="T_Four"><strong>4's:</strong></label>
              <input type="number" id="T_Four" name="T_Four" />
            </li>
            <li>
              <label for="T_sixes"><strong>6's:</strong></label>
              <input type="number" id="T_sixes" name="T_sixes" />
            </li>
            <li>
              <label for="T_Highest_score"
                ><strong>Highest score:</strong></label
              >
              <input
                type="number"
                id="T_Highest_score"
                name="T_Highest_score"
              />
            </li>
            <li>
              <label for="T_Average"><strong>Average:</strong></label>
              <input type="text" id="T_Average" name="T_Average" />
            </li>
          </ul>
        </div>
        <br />
        <h3>ODI CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="O_Matches"><strong>Matches:</strong></label>
              <input type="number" id="O_Matches" name="O_Matches" />
            </li>
            <li>
              <label for="O_Innings"><strong>Innings:</strong></label>
              <input type="number" id="O_Innings" name="O_Innings" />
            </li>
            <li>
              <label for="Odi_Runs"><strong>Odi Runs:</strong></label>
              <input type="number" id="Odi_Runs" name="Odi_Runs" />
            </li>
            <li>
              <label for="O_Hundreds"><strong>100's:</strong></label>
              <input type="number" id="O_Hundreds" name="O_Hundreds" />
            </li>
            <li>
              <label for="O_Double_hundreds"><strong>200's:</strong></label>
              <input
                type="number"
                id="O_Double_hundreds"
                name="O_Double_hundreds"
              />
            </li>
            <li>
              <label for="O_Fifties"><strong>50's:</strong></label>
              <input type="number" id="O_Fifties" name="O_Fifties" />
            </li>
            <li>
              <label for="O_Four"><strong>4's:</strong></label>
              <input type="number" id="O_Four" name="O_Four" />
            </li>
            <li>
              <label for="O_sixes"><strong>6's:</strong></label>
              <input type="number" id="O_sixes" name="O_sixes" />
            </li>
            <li>
              <label for="O_Highest_score"
                ><strong>Highest score:</strong></label
              >
              <input
                type="number"
                id="O_Highest_score"
                name="O_Highest_score"
              />
            </li>
            <li>
              <label for="O_Average"><strong>Average:</strong></label>
              <input type="text" id="O_Average" name="O_Average" />
            </li>
          </ul>
        </div>
        <br />
        <h3>T20 CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="T20_Matches"><strong>Matches:</strong></label>
              <input type="number" id="T20_Matches" name="T20_Matches" />
            </li>
            <li>
              <label for="T20_Innings"><strong>Innings:</strong></label>
              <input type="number" id="T20_Innings" name="T20_Innings" />
            </li>
            <li>
              <label for="T20_Test_Runs"><strong>T20 Runs:</strong></label>
              <input type="number" id="T20_Test_Runs" name="T20_Test_Runs" />
            </li>
            <li>
              <label for="T20_Hundreds"><strong>100's:</strong></label>
              <input type="number" id="T20_Hundreds" name="T20_Hundreds" />
            </li>
            <li>
              <label for="T20_Fifties"><strong>50's:</strong></label>
              <input type="number" id="T20_Fifties" name="T20_Fifties" />
            </li>
            <li>
              <label for="T20_Four"><strong>4's:</strong></label>
              <input type="number" id="T20_Four" name="T20_Four" />
            </li>
            <li>
              <label for="T20_sixes"><strong>6's:</strong></label>
              <input type="number" id="T20_sixes" name="T20_sixes" />
            </li>
            <li>
              <label for="T20_Highest_score"
                ><strong>Highest score:</strong></label
              >
              <input
                type="number"
                id="T20_Highest_score"
                name="T20_Highest_score"
              />
            </li>
            <li>
              <label for="T20_Average"><strong>Average:</strong></label>
              <input type="text" id="T20_Average" name="T20_Average" />
            </li>
          </ul>
        </div>
        <hr />
        <br /><br />
        <h3 class="h3">BOWLING...</h3>
        <br />
        <h3>TEST CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="BT_Matches"><strong>Matches:</strong></label>
              <input type="number" id="BT_Matches" name="BT_Matches" />
            </li>
            <li>
              <label for="BT_Innings"><strong>Innings:</strong></label>
              <input type="number" id="BT_Innings" name="BT_Innings" />
            </li>
            <li>
              <label for="BT_balls"><strong>Balls:</strong></label>
              <input type="number" id="BT_balls" name="BT_balls" />
            </li>
            <li>
              <label for="BTest_Runs"><strong>Runs:</strong></label>
              <input type="number" id="BTest_Runs" name="BTest_Runs" />
            </li>
            <li>
              <label for="BT_totalwickets"
                ><strong>Total Wickets:</strong></label
              >
              <input
                type="number"
                id="BT_totalwickets"
                name="BT_totalwickets"
              />
            </li>
            <li>
              <label for="BT_5wickets"><strong>5 Wickets:</strong></label>
              <input type="number" id="BT_5wickets" name="BT_5wickets" />
            </li>
            <li>
              <label for="BT_10wickets"><strong>10 Wickets:</strong></label>
              <input type="number" id="BT_10wickets" name="BT_10wickets" />
            </li>
            <li>
              <label for="BT_average"><strong>Average:</strong></label>
              <input type="text" id="BT_average" name="BT_average" />
            </li>
            <li>
              <label for="BT_strikerate"><strong>Strike Rate:</strong></label>
              <input type="text" id="BT_strikerate" name="BT_strikerate" />
            </li>
            <li>
              <label for="BT_economy"><strong>Economy:</strong></label>
              <input type="text" id="BT_economy" name="BT_economy" />
            </li>
          </ul>
        </div>
        <br />
        <h3>ODI CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="BO_Matches"><strong>Matches:</strong></label>
              <input type="text" id="BO_Matches" name="BO_Matches" />
            </li>
            <li>
              <label for="BO_Innings"><strong>Innings:</strong></label>
              <input type="text" id="BO_Innings" name="BO_Innings" />
            </li>
            <li>
              <label for="BO_balls"><strong>Balls:</strong></label>
              <input type="number" id="BO_balls" name="BO_balls" />
            </li>
            <li>
              <label for="BOdi_Runs"><strong>Runs:</strong></label>
              <input type="number" id="BOdi_Runs" name="BOdi_Runs" />
            </li>
            <li>
              <label for="BO_totalwickets"
                ><strong>Total Wickets:</strong></label
              >
              <input
                type="number"
                id="BO_totalwickets"
                name="BO_totalwickets"
              />
            </li>
            <li>
              <label for="BO_5wickets"><strong>5 Wickets:</strong></label>
              <input type="number" id="BO_5wickets" name="BO_5wickets" />
            </li>
            <!-- <li>
              <label for="BO_10wickets"><strong>10 Wickets:</strong></label>
              <input type="number" id="BO_10wickets" name="BO_10wickets" />
            </li> -->
            <li>
              <label for="BO_average"><strong>Average:</strong></label>
              <input type="text" id="BO_average" name="BO_average" />
            </li>
            <li>
              <label for="BO_strikerate"><strong>Strike Rate:</strong></label>
              <input type="text" id="BO_strikerate" name="BO_strikerate" />
            </li>
            <li>
              <label for="BO_economy"><strong>Economy:</strong></label>
              <input type="text" id="BO_economy" name="BO_economy" />
            </li>
          </ul>
        </div>
        <br />
        <h3>T20 CAREER:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="Bt20_Matches"><strong>Matches:</strong></label>
              <input type="number" id="Bt20_Matches" name="Bt20_Matches" />
            </li>
            <li>
              <label for="Bt20_Innings"><strong>Innings:</strong></label>
              <input type="number" id="Bt20_Innings" name="Bt20_Innings" />
            </li>
            <li>
              <label for="Bt20_balls"><strong>Balls:</strong></label>
              <input type="number" id="Bt20_balls" name="Bt20_balls" />
            </li>
            <li>
              <label for="Bt20_Runs"><strong>Runs:</strong></label>
              <input type="number" id="Bt20_Runs" name="Bt20_Runs" />
            </li>
            <li>
              <label for="Bt20_totalwickets"
                ><strong>Total Wickets:</strong></label
              >
              <input
                type="number"
                id="Bt20_totalwickets"
                name="Bt20_totalwickets"
              />
            </li>
            <li>
              <label for="Bt20_5wickets"><strong>5 Wickets:</strong></label>
              <input type="number" id="Bt20_5wickets" name="Bt20_5wickets" />
            </li>
            <li>
              <label for="Bt20_average"><strong>Average:</strong></label>
              <input type="text" id="Bt20_average" name="Bt20_average" />
            </li>
            <li>
              <label for="Bt20_strikerate"><strong>Strike Rate:</strong></label>
              <input
                type="text"
                id="Bt20_strikerate"
                name="Bt20_strikerate"
              />
            </li>
            <li>
              <label for="Bt20_economy"><strong>Economy:</strong></label>
              <input type="text" id="Bt20_economy" name="Bt20_economy" />
            </li>
          </ul>
        </div>
        <hr />
        <br /><br />
        <h3 class="h3">IPL...</h3>
        <br />
        <h3>BATTING:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="ipl_Matches"><strong>Matches:</strong></label>
              <input type="number" id="ipl_Matches" name="ipl_Matches" />
            </li>
            <li>
              <label for="ipl_Innings"><strong>Innings:</strong></label>
              <input type="number" id="ipl_Innings" name="ipl_Innings" />
            </li>
            <li>
              <label for="ipl_Runs"><strong>IPL Runs:</strong></label>
              <input type="number" id="ipl_Runs" name="ipl_Runs" />
            </li>
            <li>
              <label for="ipl_Hundreds"><strong>100's:</strong></label>
              <input type="number" id="ipl_Hundreds" name="ipl_Hundreds" />
            </li>
            <li>
              <label for="ipl_Fifties"><strong>50's:</strong></label>
              <input type="number" id="ipl_Fifties" name="ipl_Fifties" />
            </li>
            <li>
              <label for="ipl_Four"><strong>4's:</strong></label>
              <input type="number" id="ipl_Four" name="ipl_Four" />
            </li>
            <li>
              <label for="ipl_sixes"><strong>6's:</strong></label>
              <input type="number" id="ipl_sixes" name="ipl_sixes" />
            </li>
            <li>
              <label for="ipl_Highest_score"
                ><strong>Highest score:</strong></label
              >
              <input
                type="number"
                id="ipl_Highest_score"
                name="ipl_Highest_score"
              />
            </li>
            <li>
              <label for="ipl_Average"><strong>Average:</strong></label>
              <input type="text" id="ipl_Average" name="ipl_Average" />
            </li>
          </ul>
        </div>
        <br />
        <h3>BOWLING:</h3>
        <div class="P_info">
          <ul>
            <li>
              <label for="Bipl_Matches"><strong>Matches:</strong></label>
              <input type="number" id="Bipl_Matches" name="Bipl_Matches" />
            </li>
            <li>
              <label for="Bipl_Innings"><strong>Innings:</strong></label>
              <input type="number" id="Bipl_Innings" name="Bipl_Innings" />
            </li>
            <li>
              <label for="Bipl_balls"><strong>Balls:</strong></label>
              <input type="number" id="Bipl_balls" name="Bipl_balls" />
            </li>
            <li>
              <label for="Bipl_Runs"><strong>Runs:</strong></label>
              <input type="number" id="Bipl_Runs" name="Bipl_Runs" />
            </li>
            <li>
              <label for="Bipl_totalwickets"
                ><strong>Total Wickets:</strong></label
              >
              <input
                type="number"
                id="Bipl_totalwickets"
                name="Bipl_totalwickets"
              />
            </li>
            <li>
              <label for="Bipl_5wickets"><strong>5 Wickets:</strong></label>
              <input type="number" id="Bipl_5wickets" name="Bipl_5wickets" />
            </li>
            <li>
              <label for="Bipl_average"><strong>Average:</strong></label>
              <input type="text" id="Bipl_average" name="Bipl_average" />
            </li>
            <li>
              <label for="Bipl_strikerate"><strong>Strike Rate:</strong></label>
              <input
                type="text"
                id="Bipl_strikerate"
                name="Bipl_strikerate"
              />
            </li>
            <li>
              <label for="Bipl_economy"><strong>Economy:</strong></label>
              <input type="text" id="Bipl_economy" name="Bipl_economy" />
            </li>
            <div>
              <li><input type="submit" /></li>
            </div>
          </ul>
        </div>
      </form>
    </div>
    <footer>
      <img
        src="https://wassets.hscicdn.com/static/images/logo.png"
        alt="logo"
      />
      <div class="footer_div">
        <h3>FOLLOW US ON</h3>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
