<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link rel="stylesheet" href="/static/Contact_Us.css"> -->
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/add_data.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="" target="">Home</a></li>
            <li><a href="/Player_details" target="">Player_details</a></li>
            <li><a href="/details" target="">Details</a></li>
            <li><a href="/contacts" target="">Contact Us</a></li>
        </ul>
        <ul class="menu2">
            <li><a href="/login" target="">Admin Login</a></li>
            <li><a href="" target="">Sign-Up</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>PLAYER DETAILS:</h1>
        <form action="">
            <h3>PLAYER INFORMATION:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="P_fname"><strong>P_fname:</strong></label>
                        <input type="text" id="P_fname" name="P_fname">
                    </li>
                    <li>
                        <label for="P_lname"><strong>P_lname:</strong></label>
                        <input type="text" id="P_lname" name="P_lname">
                    </li>
                    <li>
                        <label for="Pid"><strong>Pid:</strong></label>
                        <input type="text" id="Pid" name="Pid">
                    </li>
                    <li>
                        <label for="Dob"><strong>Dob:</strong></label>
                        <input type="text" id="Dob" name="Dob">
                    </li>
                    <li>
                        <label for="Bplace"><strong>Birth place:</strong></label>
                        <input type="text" id="Bplace" name="Bplace">
                    </li>
                    <li>
                        <label for="Country"><strong>Country:</strong></label>
                        <input type="text" id="Country" name="Country">
                    </li>
                    <li>
                        <label for="Bat_id"><strong>Bat_id:</strong></label>
                        <input type="text" id="Bat_id" name="Bat_id">
                    </li>
                    <li>
                        <label for="Bowl_id"><strong>Bowl_id:</strong></label>
                        <input type="text" id="Bowl_id" name="Bowl_id">
                    </li>
                </ul>
            </div>
            <hr>
            <br><br>
            <h3>CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="Player_role"><strong>Player role:</strong></label>
                        <input type="text" id="Player_role" name="Player_role">
                    </li>
                    <li>
                        <label for="Total_runs"><strong>Total runs:</strong></label>
                        <input type="text" id="Total_runs" name="Total_runs">
                    </li>
                    <li>
                        <label for="Debut_id"><strong>Debut id:</strong></label>
                        <input type="text" id="Debut_id" name="Debut_id">
                    </li>
                </ul>
            </div>
            <hr>
            <br><br>
            <h3>DEBUT:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="Test_debut"><strong>Test debut:</strong></label>
                        <input type="text" id="Test_debut" name="Test_debut">
                    </li>
                    <li>
                        <label for="Odi_debut"><strong>Odi debut:</strong></label>
                        <input type="text" id="Odi_debut" name="Odi_debut">
                    </li>
                    <li>
                        <label for="T20_debut"><strong>T20 debut:</strong></label>
                        <input type="text" id="T20_debut" name="T20_debut">
                    </li>
                </ul>
            </div>
            <hr>
            <br><br>
            <h3 class="h3">BATTING...</h3>
            <br>
            <h3>TEST CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="T_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="T_Matches" name="T_Matches">
                    </li>
                    <li>
                        <label for="T_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="T_Innings" name="T_Innings">
                    </li>
                    <li>
                        <label for="Test_Runs"><strong>Test Runs:</strong></label>
                        <input type="text" id="Test_Runs" name="Test_Runs">
                    </li>
                    <li>
                        <label for="T_Hundreds"><strong>100's:</strong></label>
                        <input type="text" id="T_Hundreds" name="T_Hundreds">
                    </li>
                    <li>
                        <label for="T_Double_hundreds"><strong>200's:</strong></label>
                        <input type="text" id="T_Double_hundreds" name="T_Double_hundreds">
                    </li>
                    <li>
                        <label for="T_Fifties"><strong>50's:</strong></label>
                        <input type="text" id="T_Fifties" name="T_Fifties">
                    </li>
                    <li>
                        <label for="T_Four"><strong>4's:</strong></label>
                        <input type="text" id="T_Four" name="T_Four">
                    </li>
                    <li>
                        <label for="T_sixes"><strong>6's:</strong></label>
                        <input type="text" id="T_sixes" name="T_sixes">
                    </li>
                    <li>
                        <label for="T_Highest_score"><strong>Highest score:</strong></label>
                        <input type="text" id="T_Highest_score" name="T_Highest_score">
                    </li>
                    <li>
                        <label for="T_Average"><strong>Average:</strong></label>
                        <input type="text" id="T_Average" name="T_Average">
                    </li>
                </ul>
            </div>
            <br>
            <h3>ODI CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="O_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="O_Matches" name="O_Matches">
                    </li>
                    <li>
                        <label for="O_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="O_Innings" name="O_Innings">
                    </li>
                    <li>
                        <label for="Odi_Runs"><strong>Odi Runs:</strong></label>
                        <input type="text" id="Odi_Runs" name="Odi_Runs">
                    </li>
                    <li>
                        <label for="O_Hundreds"><strong>100's:</strong></label>
                        <input type="text" id="O_Hundreds" name="O_Hundreds">
                    </li>
                    <li>
                        <label for="O_Double_hundreds"><strong>200's:</strong></label>
                        <input type="text" id="O_Double_hundreds" name="O_Double_hundreds">
                    </li>
                    <li>
                        <label for="O_Fifties"><strong>50's:</strong></label>
                        <input type="text" id="O_Fifties" name="O_Fifties">
                    </li>
                    <li>
                        <label for="O_Four"><strong>4's:</strong></label>
                        <input type="text" id="O_Four" name="O_Four">
                    </li>
                    <li>
                        <label for="O_sixes"><strong>6's:</strong></label>
                        <input type="text" id="O_sixes" name="O_sixes">
                    </li>
                    <li>
                        <label for="O_Highest_score"><strong>Highest score:</strong></label>
                        <input type="text" id="O_Highest_score" name="O_Highest_score">
                    </li>
                    <li>
                        <label for="O_Average"><strong>Average:</strong></label>
                        <input type="text" id="O_Average" name="O_Average">
                    </li>
                </ul>
            </div>
            <br>
            <h3>T20 CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="T20_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="T20_Matches" name="T20_Matches">
                    </li>
                    <li>
                        <label for="T20_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="T20_Innings" name="T20_Innings">
                    </li>
                    <li>
                        <label for="T20_Test_Runs"><strong>T20 Runs:</strong></label>
                        <input type="text" id="T20_Test_Runs" name="T20_Test_Runs">
                    </li>
                    <li>
                        <label for="T20_Hundreds"><strong>100's:</strong></label>
                        <input type="text" id="T20_Hundreds" name="T20_Hundreds">
                    </li>
                    <li>
                        <label for="T20_Fifties"><strong>50's:</strong></label>
                        <input type="text" id="T20_Fifties" name="T20_Fifties">
                    </li>
                    <li>
                        <label for="T20_Four"><strong>4's:</strong></label>
                        <input type="text" id="T20_Four" name="T20_Four">
                    </li>
                    <li>
                        <label for="T20_sixes"><strong>6's:</strong></label>
                        <input type="text" id="T20_sixes" name="T20_sixes">
                    </li>
                    <li>
                        <label for="T20_Highest_score"><strong>Highest score:</strong></label>
                        <input type="text" id="T20_Highest_score" name="T20_Highest_score">
                    </li>
                    <li>
                        <label for="T20_Average"><strong>Average:</strong></label>
                        <input type="text" id="T20_Average" name="T20_Average">
                    </li>
                </ul>
            </div>
            <hr>
            <br><br>
            <h3 class="h3">BOWLING...</h3>
            <br>
            <h3>TEST CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="BT_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="BT_Matches" name="BT_Matches">
                    </li>
                    <li>
                        <label for="BT_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="BT_Innings" name="BT_Innings">
                    </li>
                    <li>
                        <label for="BT_balls"><strong>Balls:</strong></label>
                        <input type="text" id="BT_balls" name="BT_balls">
                    </li>
                    <li>
                        <label for="BTest_Runs"><strong>Runs:</strong></label>
                        <input type="text" id="BTest_Runs" name="BTest_Runs">
                    </li>
                    <li>
                        <label for="BT_Hundreds"><strong>Total Wickets:</strong></label>
                        <input type="text" id="BT_Hundreds" name="BT_Hundreds">
                    </li>
                    <li>
                        <label for="BT_Double_hundreds"><strong>5 Wickets:</strong></label>
                        <input type="text" id="BT_Double_hundreds" name="BT_Double_hundreds">
                    </li>
                    <li>
                        <label for="BT_Fifties"><strong>10 Wickets:</strong></label>
                        <input type="text" id="BT_Fifties" name="BT_Fifties">
                    </li>
                    <li>
                        <label for="BT_Four"><strong>Average:</strong></label>
                        <input type="text" id="BT_Four" name="BT_Four">
                    </li>
                    <li>
                        <label for="BT_sixes"><strong>Strike Rate:</strong></label>
                        <input type="text" id="BT_sixes" name="BT_sixes">
                    </li>
                    <li>
                        <label for="BT_Highest_score"><strong>Economy:</strong></label>
                        <input type="text" id="BT_Highest_score" name="BT_Highest_score">
                    </li>
                </ul>
            </div>
            <br>
            <h3>ODI CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="BO_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="BO_Matches" name="BO_Matches">
                    </li>
                    <li>
                        <label for="BO_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="BO_Innings" name="BO_Innings">
                    </li>
                    <li>
                        <label for="BO_balls"><strong>Balls:</strong></label>
                        <input type="text" id="BO_balls" name="BO_balls">
                    </li>
                    <li>
                        <label for="OTest_Runs"><strong>Runs:</strong></label>
                        <input type="text" id="OTest_Runs" name="OTest_Runs">
                    </li>
                    <li>
                        <label for="BO_Hundreds"><strong>Total Wickets:</strong></label>
                        <input type="text" id="BO_Hundreds" name="BO_Hundreds">
                    </li>
                    <li>
                        <label for="BO_Double_hundreds"><strong>5 Wickets:</strong></label>
                        <input type="text" id="BO_Double_hundreds" name="BO_Double_hundreds">
                    </li>
                    <li>
                        <label for="BO_Fifties"><strong>10 Wickets:</strong></label>
                        <input type="text" id="BO_Fifties" name="BO_Fifties">
                    </li>
                    <li>
                        <label for="BO_Four"><strong>Average:</strong></label>
                        <input type="text" id="BO_Four" name="BO_Four">
                    </li>
                    <li>
                        <label for="BO_sixes"><strong>Strike Rate:</strong></label>
                        <input type="text" id="BO_sixes" name="BO_sixes">
                    </li>
                    <li>
                        <label for="BO_Highest_score"><strong>Economy:</strong></label>
                        <input type="text" id="BO_Highest_score" name="BO_Highest_score">
                    </li>
                </ul>
            </div>
            <br>
            <h3>T20 CAREER:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="Bt20_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="Bt20_Matches" name="Bt20_Matches">
                    </li>
                    <li>
                        <label for="Bt20_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="Bt20_Innings" name="Bt20_Innings">
                    </li>
                    <li>
                        <label for="Bt20_balls"><strong>Balls:</strong></label>
                        <input type="text" id="Bt20_balls" name="Bt20_balls">
                    </li>
                    <li>
                        <label for="t20Test_Runs"><strong>Runs:</strong></label>
                        <input type="text" id="t20Test_Runs" name="t20Test_Runs">
                    </li>
                    <li>
                        <label for="Bt20_Hundreds"><strong>Total Wickets:</strong></label>
                        <input type="text" id="Bt20_Hundreds" name="Bt20_Hundreds">
                    </li>
                    <li>
                        <label for="Bt20_Double_hundreds"><strong>5 Wickets:</strong></label>
                        <input type="text" id="Bt20_Double_hundreds" name="Bt20_Double_hundreds">
                    </li>
                    <li>
                        <label for="Bt20_Four"><strong>Average:</strong></label>
                        <input type="text" id="Bt20_Four" name="Bt20_Four">
                    </li>
                    <li>
                        <label for="Bt20_sixes"><strong>Strike Rate:</strong></label>
                        <input type="text" id="Bt20_sixes" name="Bt20_sixes">
                    </li>
                    <li>
                        <label for="Bt20_Highest_score"><strong>Economy:</strong></label>
                        <input type="text" id="Bt20_Highest_score" name="Bt20_Highest_score">
                    </li>
                </ul>
            </div>
            <hr>
            <br><br>
            <h3 class="h3">IPL...</h3>
            <br>
            <h3>BATTING:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="ipl_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="ipl_Matches" name="ipl_Matches">
                    </li>
                    <li>
                        <label for="ipl_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="ipl_Innings" name="ipl_Innings">
                    </li>
                    <li>
                        <label for="ipl_Test_Runs"><strong>IPL Runs:</strong></label>
                        <input type="text" id="ipl_Test_Runs" name="ipl_Test_Runs">
                    </li>
                    <li>
                        <label for="ipl_Hundreds"><strong>100's:</strong></label>
                        <input type="text" id="ipl_Hundreds" name="ipl_Hundreds">
                    </li>
                    <li>
                        <label for="ipl_Fifties"><strong>50's:</strong></label>
                        <input type="text" id="ipl_Fifties" name="ipl_Fifties">
                    </li>
                    <li>
                        <label for="ipl_Four"><strong>4's:</strong></label>
                        <input type="text" id="ipl_Four" name="ipl_Four">
                    </li>
                    <li>
                        <label for="ipl_sixes"><strong>6's:</strong></label>
                        <input type="text" id="ipl_sixes" name="ipl_sixes">
                    </li>
                    <li>
                        <label for="ipl_Highest_score"><strong>Highest score:</strong></label>
                        <input type="text" id="ipl_Highest_score" name="ipl_Highest_score">
                    </li>
                    <li>
                        <label for="ipl_Average"><strong>Average:</strong></label>
                        <input type="text" id="ipl_Average" name="ipl_Average">
                    </li>
                </ul>
            </div>
            <br>
            <h3>BOWLING:</h3>
            <div class="P_info">
                <ul>
                    <li>
                        <label for="Bipl_Matches"><strong>Matches:</strong></label>
                        <input type="text" id="Bipl_Matches" name="Bipl_Matches">
                    </li>
                    <li>
                        <label for="Bipl_Innings"><strong>Innings:</strong></label>
                        <input type="text" id="Bipl_Innings" name="Bipl_Innings">
                    </li>
                    <li>
                        <label for="Bipl_balls"><strong>Balls:</strong></label>
                        <input type="text" id="Bipl_balls" name="Bipl_balls">
                    </li>
                    <li>
                        <label for="Bipl_Runs"><strong>Runs:</strong></label>
                        <input type="text" id="Bipl_Runs" name="Bipl_Runs">
                    </li>
                    <li>
                        <label for="Bipl_Hundreds"><strong>Total Wickets:</strong></label>
                        <input type="text" id="Bipl_Hundreds" name="Bipl_Hundreds">
                    </li>
                    <li>
                        <label for="Bipl_Double_hundreds"><strong>5 Wickets:</strong></label>
                        <input type="text" id="Bipl_Double_hundreds" name="Bipl_Double_hundreds">
                    </li>
                    <li>
                        <label for="Bipl_Four"><strong>Average:</strong></label>
                        <input type="text" id="Bipl_Four" name="Bipl_Four">
                    </li>
                    <li>
                        <label for="Bipl_sixes"><strong>Strike Rate:</strong></label>
                        <input type="text" id="Bipl_sixes" name="Bipl_sixes">
                    </li>
                    <li>
                        <label for="Bipl_Highest_score"><strong>Economy:</strong></label>
                        <input type="text" id="Bipl_Highest_score" name="Bipl_Highest_score">
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <footer>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" alt="logo">
        <div class="footer_div">
           <h3>FOLLOW US ON</h3>
           <ul>
               <li><a href="#"><i class="fab fa-facebook"></i></a></li>
               <li><a href="#"><i class="fab fa-instagram"></i></a></li>
               <li><a href="#"><i class="fab fa-youtube"></i></a></li>
           </ul>
        </div>
        <p> Copyright © 2021-2022 M S Ramaiah Institute Of Technology: 
          <a href="http://www.msrit.edu/" target="blank">http://www.msrit.edu</a></p>
       </footer>
</body>
</html>