<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/rankings.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="https://wassets.hscicdn.com/static/images/logo.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="/" target="">Home</a></li>
            <li><a href="/contacts" target="">Contact Us</a></li>
        </ul>
    </nav>
    <div class="ranking_div">
        <h2>ICC Cricket Rankings - Batting</h2>
        <div class="role">
            <ul>
                <li><a href="/rankings" id="batting">Batting</a></li>
                <li><a href="/B_rankings">Bowling</a></li>
            </ul>
            <hr>
        </div>
        <div class="Crole">
            <ul>
                <li><a href="/rankings" id="test" >TEST</a></li>
                <li><a href="/odi" id="odi">ODI</a></li>
                <li><a href="/t20" id="t20">T20</a></li>
            </ul>
        </div>
        <hr>
    </div>
</body>
</html>