<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/Contact_Us.css">
    <link rel="stylesheet" href="/static/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="https://wassets.hscicdn.com/static/images/logo.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="/home" target="">Home</a></li>
            <!-- <li><a href="/Player_details" target="">Player_details</a></li> -->
            <!--<li><a href="/details" target="">Details</a></li>
             <li><a href="">Contact Us</a></li> -->
            </ul>
    </nav>
    <div class="container">
        <h2>Contact Us</h2>
        <form action="">
            <div class="fdiv1">
                <label for="name">Your Name</label><br>
                <input type="text" id="name" placeholder="Enter Your Name"><br>
            </div>
            <div>
                <label for="email">Your Email</label><br>
                <input type="email" id="email" placeholder="Enter Your Email"><br>
            </div>
            <div>
                <label for="phone">Your Phone Number</label><br>
                <input type="number" id="phone" placeholder="Enter Your Number"><br>
            </div>
            <div>
                <label for="message">Your Message</label><br>
                <textarea id="message"  placeholder="Enter Your Message"></textarea>
            </div>
            <div class="div_button"><button type="submit" disabled>Submit</button></div>
        </form>
    </div>
</body>
</html>