<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/details.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="/" target="">Home</a></li>
            <li><a href="/Player_details" target="">Player_details</a></li>
            <li><a href="/details" target="">Details</a></li>
            <li><a href="/contacts" target="">Contact Us</a></li>
        </ul>
        <ul class="menu2">
            <li><a href="/login" target="">Login</a></li>
            <li><a href="/sign-up" target="">Sign-Up</a></li>
        </ul>
    </nav>
    <hr>
    <div class="profile"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLWRiKD-zyYbd2yGbWVvzQr8rShW_JpB-MBcQhAjB_FHSo6Ty6" alt="profile_img"></div>
    <div class="profile_table">
        <table>
           <tr>
               <th>Name :</th>
               <td>Siddarth G D</td>
           </tr>
           <tr>
               <th>Room-No :</th>
               <td>G-26</td>
           </tr>
           <tr>
                <th>Department :</th>
                <td>CSE</td>
        </tr>
        <tr>
            <th>Year :</th>
            <td>3rd Year</td>
        </tr>
        </table>
    </div>
    <div class="profile_div">
        <div class="profile"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLWRiKD-zyYbd2yGbWVvzQr8rShW_JpB-MBcQhAjB_FHSo6Ty6" alt="profile_img"></div>
        <div class="profile_table">
            <table>
            <tr>
                <th>Name :</th>
                <td>Siddarth G D</td>
            </tr>
            <tr>
                <th>Room-No :</th>
                <td>G-26</td>
            </tr>
            <tr>
                    <th>Department :</th>
                    <td>CSE</td>
            </tr>
            <tr>
                <th>Year :</th>
                <td>3rd Year</td>
            </tr>
            </table>
        </div>
    </div>
</body>
</html>