<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css" />
    <link rel="stylesheet" href="/static/Contact_Us.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link rel="stylesheet" href="/static/display.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <img
        src="http://d2e9h3gjmozu47.cloudfront.net/brand.png"
        class="logo"
        alt="logo"
      />
      <ul class="menu">
        <li><a href="/" target="">Home</a></li>
        <li><a href="/Player_details" target="">Player_details</a></li>
        <li><a href="" target="">Details</a></li>
        <li><a href="/contacts">Contact Us</a></li>
      </ul>
      <ul class="menu2">
        <li><a href="/login" target="">Login</a></li>
        <li><a href="#" target="">Sign-Up</a></li>
      </ul>
    </nav>
    <div>
      <form action="" method="POST">
        <input type="text" name="search" />
        <input type="submit" />
      </form>
    </div>
    {% for player in playername%}
    <div class="profile_details">
      <img src="" alt="player_img" />
      <div class="pname">
        <h1>{{player[0]}} {{player[1]}}</h1>
        <h3>{{player[5]}}</h3>
      </div>
    </div>
    {% endfor %}
    <div class="Pers_info">
      <h3>Personal Information</h3>
      <table>
        <tr>
          <th>Born</th>
          <td>Feb 01,1987(34 years)</td>
        </tr>
        <tr>
          <th>Birth Place</th>
          <td>Funchal,Portugal</td>
        </tr>
        <tr>
          <th>Height</th>
          <td>1.87m</td>
        </tr>
        <tr>
          <th>Role</th>
          <td>Batting Allrounder</td>
        </tr>
        <tr>
          <th>Batting Style</th>
          <td>Right Handed Bat</td>
        </tr>
        <tr>
          <th>Bowling Style</th>
          <td>Right-arm fast-medium</td>
        </tr>
      </table>
    </div>
    <div class="player_profile">
      Portuguese-born Moises Henriques moved to Australia at the tender age of
      one. He is currently <br />
      considered as a talented and upcoming cricketer especially in the
      limited-overs format of the ga... <a href="#Full_Profile">Full Profile</a>
      <h3>Batting Career Summary</h3>
      <table>
        <tr>
          <th></th>
          <th>BAT-ID</th>
          <th>M</th>
          <th>INN</th>
          <th>RUNS</th>
          <th>100</th>
          <th>200</th>
          <th>50</th>
          <th>4s</th>
          <th>6s</th>
          <th>Hs</th>
          <th>avg</th>
        </tr>
        <tr>
          <th>Test</th>
          <td>Bat-id</td>
          <td>4</td>
          <td>8</td>
          <td>164</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>12</td>
          <td>2</td>
          <td>81</td>
          <td>23.43</td>
        </tr>
        <tr>
          <th>ODI</th>
          <td>Bat-id</td>
          <td>16</td>
          <td>15</td>
          <td>117</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>0</td>
          <td>22</td>
          <td>9.0</td>
        </tr>
        <tr>
          <th>T20I</th>
          <td>Bat-id</td>
          <td>24</td>
          <td>21</td>
          <td>335</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>17</td>
          <td>15</td>
          <td>62</td>
          <td>20.88</td>
        </tr>
        <tr>
          <th>IPL</th>
          <td>Bat-id</td>
          <td>62</td>
          <td>54</td>
          <td>1000</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>87</td>
          <td>28</td>
          <td>74</td>
          <td>27.78</td>
        </tr>
      </table>
      <hr />
      <h3>Bowling Career Summary</h3>
      <table>
        <tr>
          <th></th>
          <th>Bowl-ID</th>
          <th>M</th>
          <th>INN</th>
          <th>Balls</th>
          <th>RUNS</th>
          <th>wkts</th>
          <th>Avg</th>
          <th>SR</th>
          <th>Economy</th>
          <th>5W</th>
          <th>10W</th>
        </tr>
        <tr>
          <th>Test</th>
          <td>Bowl-id</td>
          <td>10</td>
          <td>20</td>
          <td>200</td>
          <td>50</td>
          <td>10</td>
          <td>82.0</td>
          <td>2.98</td>
          <td>2</td>
          <td>0</td>
          <td>23.43</td>
        </tr>
        <tr>
          <th>ODI</th>
          <td>Bat-id</td>
          <td>16</td>
          <td>15</td>
          <td>117</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>0</td>
          <td>22</td>
          <td>9.0</td>
        </tr>
        <tr>
          <th>T20I</th>
          <td>Bat-id</td>
          <td>24</td>
          <td>21</td>
          <td>335</td>
          <td>0</td>
          <td>0</td>
          <td>2</td>
          <td>17</td>
          <td>15</td>
          <td>62</td>
          <td>20.88</td>
        </tr>
        <tr>
          <th>IPL</th>
          <td>Bat-id</td>
          <td>62</td>
          <td>54</td>
          <td>1000</td>
          <td>0</td>
          <td>0</td>
          <td>5</td>
          <td>87</td>
          <td>28</td>
          <td>74</td>
          <td>27.78</td>
        </tr>
      </table>
    </div>
    <div class="Car_info_div">
      <hr />
      <h3>Career Information</h3>
      <table>
        <tr>
          <th>Test debut</th>
          <td>vs India at MA Chidambaram Stadium, Feb 22, 2013</td>
        </tr>
        <tr>
          <th>ODI debut</th>
          <td>vs India at Arun Jaitley Stadium, Oct 31, 2009</td>
        </tr>
        <tr>
          <th>T20 debut</th>
          <td>vs New Zealand at Sydney Cricket Ground, Feb 15, 2009</td>
        </tr>
      </table>
      <hr />
    </div>
    <footer>
      <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" alt="logo" />
      <div class="footer_div">
        <h3>FOLLOW US ON</h3>
        <ul>
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
      <p>
        Copyright © 2021-2022 M S Ramaiah Institute Of Technology:
        <a href="http://www.msrit.edu/" target="blank">http://www.msrit.edu</a>
      </p>
    </footer>
  </body>
</html>
