<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" class="logo" alt="logo">
        <ul class="menu">
            <li><a href="" target="">Home</a></li>
            <li><a href="/Player_details" target="">Player_details</a></li>
            <li><a href="/details" target="">Details</a></li>
            <li><a href="/contacts" target="">Contact Us</a></li>
        </ul>
        <ul class="menu2">
            <li><a href="/login" target="">Login</a></li>
            <li><a href="" target="">Sign-Up</a></li>
        </ul>
    </nav>
    <div class="home_img">
        <img class="hostel_img" src="http://d2e9h3gjmozu47.cloudfront.net/Gallery/hostel/hostel-full/CO5B5795.jpg" alt="hostel_img">
    </div>
    <div class="about_hostel">
            <h3>FACILITIES PROVIDED AT HOSTEL</h3>
            <ul>
                <li>Well-appointed rooms for single/double/triple 
                    occupancy with attached/common bath rooms with 
                    hot water.</li>
                <li>Two spacious halls for comfortable dining.</li>
                <li>Breakfast, lunch, evening snacks and special 
                    dinner is provided by the mess comprising of 
                    both North and South Indian food items. The Mess <br>
                    Committee made up of student representatives from
                     different parts of the country decide the mess menu 
                      cost sharing.</li>
                <li>Eight heavy duty washing machines in the old 
                    block provide for free laundry services.</li>
                <li>Ironing of clothes at subsidized rates.</li>
                <li>Large recreation halls equipped with LED TV's, 
                    newspapers and magazines in each of the three hostel 
                    blocks.</li>
                <li>Indoor and outdoor games facilities.</li>
                <li>Availability of light refreshments from the canteen up 
                    to 12 midnight.</li>
                <li>Health center with a senior doctor for consultation and 
                    treatment available from Monday to Saturday between 5 pm 
                    and 7 pm. Medicines are <br> supplied free of cost.</li>
                <li>Round the clock security to all blocks. Additional 
                    security at blocks occupied by freshers.</li>
                <li>RO drinking water from the in-house plant.</li>
                <li>Guest rooms for visitors which are charged according 
                    to availability.</li>
                <li>Cabled/ Wi-Fi internet provided at nominal charges.</li>
            </ul>
            <hr size="1" noshade="" width="90%" style="margin-left: 20px;">
            <h3>HOSTEL RULES</h3>
            <ul>
                <li>Only bonafide students of MSRIT and others 
                    that are specially permitted by the Director or 
                    his nominees will be given accommodation in the hostel.</li>
                <li>The Gokula Education Foundation Trust manages the MSR 
                    Hostels (Engg) under the direction and control of the 
                    Principal of MSRIT through the <br> Warden and the Officials 
                    appointed by him.</li>
                <li>Students who require hostel accommodation should pay 
                    the hostel and mess deposits, room rent and other hostel 
                    charges for the full term <br> at the time of joining. All the 
                    payments and the deposits should be made in Vijaya Bank, MSRIT branch.</li>
                <li>The allotment of rooms will be made on a first come, 
                    first served basis. No change is permitted unless the 
                    concerned authorities are personally <br> satisfied that such 
                    a change can be allowed. Permission is to be recorded in 
                    writing. In case of roommates wishing to continue in the same <br> room 
                    with each other for the next term also, they have to remit the 
                    hostel deposits together on the same date before vacation starts. 
                    They <br> should get 
                    the room allotted and occupy the room before commencement of the next term.</li>
                <li>All those admitted to the hostel should give an acknowledgment for the furniture and 
                    fittings handed over to their charge. At the time of <br> leaving the hostel during or after 
                    completion of the course, they will be required to hand over the furniture and fittings to the hostel office and <br>
                    will be chargeable for any damages. <br>
                    No extra furniture or electrical fittings are allowed in the rooms without the written permission of the Warden. 
                    Fines will be levied if 
                    found <br> damaging hostel property such as electrical and plumbing fittings, furniture etc. 
                    COOKING IN THE ROOMS IS STRICTLY PROHIBITED.</li>
                <li>Members are required to bring their own mattresses, mosquito nets and other necessary items. Though watch and ward 
                    arrangements are <br> provided, the MSRIT shall not be responsible for any loss or damage to the resident's property or things. <br>
                    The occupants are requested to bring their own lock and key for locking their respective rooms and will be responsible 
                    for the safety of their <br> belongings. <br>
                    Members who expect to be away from the hostel for short periods exceeding 24 hours shall inform the Warden of their 
                    absence along with the <br> probable time of their return. Absence from the hostel without permission for more than a month may 
                    entail cancellation of the <br> accommodation and the adjustment of the deposit towards dues. <br>
                    Notice of intention to vacate a room must be given in writing in the prescribed form kept in the hostel office. 
                    Change of room, except in cases <br> where consent by authorities is given, is not permitted.</li>
                <li>Students who have been allotted new rooms will have to shift to the new accommodation within two days from 
                    the date of allotment and hand <br> over the possession of old room or cancel the new allotment in writing. <br>
                    Keeping both rooms beyond the stipulated period (two days after allotment) will attract a penal fee at guest 
                    rates i.e., Rs. 300/- per day till the <br> possession of one of the rooms is handed over to the hostel authorities.</li>
                <li>The security deposit is refunded only at the end of the final year when the student leaves the hostel. This deposit is subject to deduction of cost <br> of any loss / damage to the furniture & fittings. <br>
                    The maintenance charge collected will include reading / recreation room charges. The cost may be revised from time to time, if necessary. <br>
                    Students shall not keep any valuables or objectionable articles in the rooms. <br>
                    Students shall not write or display questionable slogans, posters, flags in his/her room or anywhere in the premises. Rooms/premises are to be kept clean.</li>
                <li>Residents will have to pay the hostel deposits / fees as applicable. <br>
                    Students shall vacate the hostel as soon as they complete their course. <br>
                    Their stay in the hostel after the stipulated time without prior permission from the Warden shall be treated as unauthorized stay and action will <br> be taken to take possession of the seat/room in addition to charging rent of Rs.300/- per day.</li>
                <li>Consumption of alcoholic beverages, drugs, smoking of cigarettes etc., in the hostel premises is strictly banned. If found indulging in such <br> activities, students will be expelled from the hostel and their deposits will be forfeited.</li>
            </ul>
            <hr size="1" noshade="" width="90%" style="margin-left: 20px;">
            <h3>MESS RULES</h3>
            <ul>
                <li>A vegetarian mess is being run on self-service and dividing system. Every student of the MSRIT is automatically a boarder at the time of <br> 
                    admission to the hostel.</li>
                <li>Every boarder shall see to it that, congenial atmosphere is maintained in the dining hall to enable the staff to do their job effectively. <br>
                    No boarder shall enter into a quarrel or unnecessary discussion with staff or co-boarders.</li>
                <li>No boarder shall enter into a quarrel or unnecessary discussion with staff or co-boarders.</li>
                <li>Outside food is not allowed into the dining hall/hostel premises except purchased from the stores situated within the premises.</li>
                <li>Service in the mess shall be as per the scheduled timings only.</li>
                <li>There shall be no service to the rooms and food will not be preserved for late comers.</li>
                <li>Mess Committee formed shall constitute representation from all semesters who will specify the Menu and quantity to be served and no boarder <br> shall question the Committee's authority to do so or work at cross purposes.</li>
                <li>The menu so specified by the Mess Committee will be duly approved by the Warden, to have an effective control over the cost.</li>
                <li>The Mess Committee will act as an advisory body and report to the Warden about the quality of food and on the general cleanliness in and <br> around the mess.</li>
                <li>The Committee will also bring to the notice about the quality of service being given by the Mess Staff.</li>
                <li>Rebates will be given only for absence from the mess for two consecutive days and more for which, due intimation is required one day in advance <br> for recording the absence in the register kept for the purpose in the dining hall with the Mess Supervisor.</li>
                <li>No requests are entertained for the mess absence on the same day.</li>
                <li>Absence for more than 10 days in a month may be considered under extraordinary circumstances for which Warden's approval is mandatory</li>
                <li>The Manager with the assistance of Superintendent shall ensure that, the items being prepared are as per the menu finalized by <br> the Mess Committee.</li>
            </ul>
            <p>Any change in the menu shall be brought to the notice of the Warden for taking necessary action. In case of any disagreement, the decision <br> given by the Warden shall be final and binding.</p>
            <p style="margin-top: 10px;">The mess will remain open normally during the following timings and will be closed after lunch on every Saturday.</p>
        <table>
            <tr>
                <th>Monday to Saturday</th>
                <th>Timings</th>
            </tr>
            <tr>
                <td>Breakfast (Mon - sat)</td>
                <td>7.30 A.M to 9.30 A.M</td>
            </tr> 
            <tr>
                <td>Lunch (Mon - sat)</td>
                <td>12.00 P.M to 2.15 P.M</td>
            </tr> 
            <tr>
                <td>Snacks & Tea (Mon - sat)</td>
                <td>4.30 P.M to 5.30 P.M</td>
            </tr>
            <tr>
                <td>Dinner (Mon - sat)</td>
                <td>7.30 P.M to 9.30 P.M</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Sunday and Holidays</th>
                <th>Timings</th>
            </tr>
            <tr>
                <td>Breakfast</td>
                <td>8.00 A.M to 10.00 A.M</td>
            </tr> 
            <tr>
                <td>Lunch</td>
                <td>12.30 P.M to 2.30 P.M</td>
            </tr> 
            <tr>
                <td>Snacks & Tea</td>
                <td>4.30 P.M to 5.30 P.M</td>
            </tr>
            <tr>
                <td>Dinner</td>
                <td>7.30 P.M to 9.30 P.M</td>
            </tr>
        </table>
        </div>
        <footer>
         <img src="http://d2e9h3gjmozu47.cloudfront.net/brand.png" alt="logo">
         <div class="footer_div">
            <h3>FOLLOW US ON</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
         </div>
         <p> Copyright © 2021-2022 M S Ramaiah Institute Of Technology: 
           <a href="http://www.msrit.edu/" target="blank">http://www.msrit.edu</a></p>
        </footer>
</body>
</html>