<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <img
        src="https://wassets.hscicdn.com/static/images/logo.png"
        class="logo"
        alt="logo"
      />
      <ul class="menu">
        <li><a href="/login" target="">Login</a></li>
        <li><a href="/sign-up" target="">Sign-Up</a></li>
      </ul>
    </nav>
    </body>
    </html>